.kui-flex-align-start {
  align-items: flex-start
}

.kui-flex-align-end {
  align-items: flex-end
}

.kui-flex-align-baseline {
  align-items: baseline
}

.kui-flex-align-stretch {
  align-items: stretch
}

.kui-aligncontent-start {
  align-content: flex-start
}

.kui-flex-aligncontent-end {
  align-content: flex-end
}

.kui-flex-aligncontent-center {
  align-content: center
}

.kui-flex-aligncontent-stretch {
  align-content: stretch
}

.kui-flex-aligncontent-between {
  align-content: space-between
}

.kui-flex-aligncontent-around {
  align-content: space-around
}

.kui-align-self-top {
  align-self: flex-start
}

.kui-align-self-middle {
  align-self: center
}

.kui-align-self-bottom {
  align-self: flex-end
}

.kui-align-self-stretch {
  align-self: stretch
}

