@import '../mixins/columns';
@import '../mixins/applyToAllColumns';

.kl-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  &.kl-container-nowrap {
    flex-wrap: nowrap;
  }
  &.kl-horizontal-grow {
    flex: 2;
  }
  >.kl-vertical-grow {
    align-self: stretch;
    display: flex;
    position: relative;
    >.kl-container {
      align-items: stretch;
    }
  }
  @include columns();
  @include applyToAllColumns(float, left) {
    &.kl-fixedhw {
      flex: 0 0 auto;
    }
  }
  &.kl-col-equal {
    @include applyToAllColumns(flex, 1);
  }
  &.kl-hspacing-small {
    margin-left: -0.25rem;
    margin-right: -0.25rem;
    @include applyToAllColumns(padding-left, 0.25rem);
    @include applyToAllColumns(padding-right, 0.25rem);
  }
  &.kl-hspacing-medium {
    margin-left: -0.5rem;
    margin-right: -0.5rem;
    @include applyToAllColumns(padding-left, 0.5rem);
    @include applyToAllColumns(padding-right, 0.5rem);
  }
  &.kl-hspacing-large {
    margin-left: -1rem;
    margin-right: -1rem;
    @include applyToAllColumns(padding-left, 1rem);
    @include applyToAllColumns(padding-right, 1rem);
  }
  &.kl-vspacing-small {
    @include applyToAllColumns(margin-bottom, 0.5rem) {
      &:last-child,
      &:only-child {
        margin-bottom: 0;
      }
    }
  }
  &.kl-vspacing-medium {
    @include applyToAllColumns(margin-bottom, 1rem) {
      &:last-child,
      &:only-child {
        margin-bottom: 0;
      }
    }
  }
  &.kl-vspacing-large {
    @include applyToAllColumns(margin-bottom, 2rem) {
      &:last-child,
      &:only-child {
        margin-bottom: 0;
      }
    }
  }
  &.kl-flex-column {
    flex-direction: column;
    flex-wrap: nowrap;
    &.ada-vspacing-small,
    &.ada-vspacing-medium,
    &.ada-vspacing-large {
      @include applyToAllColumns(null, null) {
        &:last-child,
        &:only-child {
          margin-bottom: 0;
        }
      }
    }
  }
}