// overflow Y
.kui-overflowY-hidden {
  overflow-y: hidden
}

.kui-overflowY-auto {
  overflow-y: auto
}

.kui-overflowY-scroll {
  overflow-y: scroll
}

.kui-overflowY-visible {
  overflow-y: visible
}

// overflow X
.kui-overflowX-hidden {
  overflow-x: hidden
}

.kui-overflowX-auto {
  overflow-x: auto
}

.kui-overflowX-scroll {
  overflow-x: scroll
}

.kui-overflowX-visible {
  overflow-x: visible
}

// both
.kui-overflow-hidden {
  overflow: hidden
}

.kui-overflow-auto {
  overflow: auto
}