// overflow Y
.kl-overflowY-hidden {
  overflow-y: hidden
}

.kl-overflowY-auto {
  overflow-y: auto
}

.kl-overflowY-scroll {
  overflow-y: scroll
}

.kl-overflowY-visible {
  overflow-y: visible
}

// overflow X
.kl-overflowX-hidden {
  overflow-x: hidden
}

.kl-overflowX-auto {
  overflow-x: auto
}

.kl-overflowX-scroll {
  overflow-x: scroll
}

.kl-overflowX-visible {
  overflow-x: visible
}

// both
.kl-overflow-hidden {
  overflow: hidden
}

.kl-overflow-auto {
  overflow: auto
}